<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <h2>Tasks:</h2>
  <% project.tasks.each do |task| %>
    <span> <%= task.description%>  </span> 
    <%= task.completed ? 'Completed' : 'Not Completed'%> <br>
  <% end %>

</div>
